table {
    border-collapse: collapse;
}

td,th {
    border: 1px solid #999;
    padding: 0.5ren;
    text-align: left;
}

.thumbnail {
    max-width: 75px;
    max-height: 75px;
}

flash{
    background-color: lightcorol:
    padding: len;
}